{% load static %}
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root{
    --c2: #4e3929;
    --c1: #F2A900;
    --fond: black;
    --text: white;
}

html, body {
    font-family: "Oswald", sans-serif;
    color: var(--text);
    background-color: var(--fond);
    text-align: center;
}

h1 {
    font-size: 3rem;
    color: var(--c1);
}

h2 {
    color: var(--c2);
}

.bingo {
  display: grid;
  justify-content: center;
  grid-template-columns: 200px 200px 200px 200px;
  gap: 3px 3px;
}

.case {
    height: 100px;
    align-content: center;
    border: 5px solid var(--c1);
}

.case-verte {
    background-color: green;
    height: 100px;
    align-content: center;
    border: 5px solid var(--c1);
}

.case-verte:hover {
    background-color: var(--c1);
    transition: .5s ease;
}
