{% load static %}

@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root{
    --c1: #4e3929;
    --c2: #db878f;
    --fond: #293E4E;
    --text: #F1EBDB;
}

html, body {
    font-family: 'Quicksand', sans-serif;

    /*background: url("/static/jdm/fondp.jpg") no-repeat center center fixed;*/
    background-color: var(--fond);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    display: flex;
    flex-direction: column;
    color: #F1EBDB;
    font-size: calc(16px + 0.390625vw);
    text-align: center;
    padding: 0 1rem;
    height: 100%;
    justify-content:space-between;
}

main {
    padding: 9rem 0 0 0;
}

#indication_menu {
    font-family: 'Rye', cursive;
    text-shadow: rgba(0,0,0, 1) 1px 2px 1px;
    color: var(--c2);
    font-size: 35px;
    margin: auto;
}


.navbar {
    font-size: 0;
    backdrop-filter: blur(5px);
    margin: 2rem auto 2rem;
    padding: 1rem 3rem;
    max-width: 20%;
    min-height: 6rem;
    justify-content: space-evenly;
    box-shadow: rgba(0, 0, 0, 0.8) 1px 5px 15px;
    transition: .5s ease;
    border-radius:15px;
    ul li {
        display: none;
        }
}

.navbar:hover {
    font-size: calc(20px + 0.390625vw);
    max-width: 90%;
    background-color: var(--c1);
    #indication_menu {
        display: none;
    }
    ul li {
        display: flex;
        justify-content: space-around;
        }
}

.connect {
    position: absolute;
    top: 1rem;
    right: 3rem;
}

.connexion {
    margin: 3rem;
    width: 30rem;
    display: inline-flex;
    justify-content: center;
}

.inscription {
    margin: 3rem;
    width: 60rem;
    display: inline-flex;
    justify-content: center;
}

.compte{
    border-radius: 2.5rem;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 10px;
    height: 5rem;
    width: 5rem;
    padding: 0.9rem;
    transition: .5s ease;
}

.compte:hover {
    background-color: var(--c1);
}

div{
    display: flex;
    flex-direction: column;
}

h1 {
    z-index: 3;
    font-family: 'Rye', cursive;
    text-shadow: rgba(0,0,0, 1) 1px 2px 1px;
    color: var(--c2);
    padding: 1rem;
    margin: 0 0 2rem;
    font-size: calc(60px + 0.390625vw);
}

h2 {
    font-family: 'Rye', cursive;
    color: var(--c2);
    font-size: calc(35px + 0.390625vw);
    text-shadow: rgba(0,0,0, 1) 1px 2px 1px;
    padding: 1rem;
}

h3 {
    font-family: 'Rye', cursive;
    color: var(--c2);
    padding: 1rem;
    margin: 2rem 0 1rem;
    font-size: calc(22px + 0.390625vw);
}

.bloc {
    padding: 1rem 0.3rem 1rem 0.3rem;
    background-color : rgba(200,200,200,0.7);
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
    margin: 0.8rem;
    width: 25%;
    justify-content: space-around;
}

.titre_bloc {
    font-family: 'Rye', cursive;
    color: var(--text);
    text-shadow: rgba(0,0,0, 1) 1px 2px 1px;
    padding: 0.2rem;
    transition: .5s ease;
}

.fond {
    border-radius:15px;
    backdrop-filter: blur(5px);
    box-shadow: rgba(0, 0, 0, 0.8) 1px 5px 15px;
    width: 90%;
    margin: auto;
    padding: 1rem;
    transition: .5s ease;
}

.fond:hover {
    background-color: var(--c1);
}

.description{
    border-radius:15px;
    backdrop-filter: blur(4px);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 1rem;
    max-width: calc(600px + 4vw);
    margin: 1rem auto 1rem;
    transition: .5s ease;
}

.description:hover {
    background-color: var(--c1);
}

.fond_pref{
    backdrop-filter: blur(4px);
    box-shadow: rgba(0, 0, 0, 0.8) 1px 5px 15px;
    padding: 1rem;
    max-width: 900px;
    margin: 2rem auto 1rem;
    transition: 0.5s ease;
    border-radius:15px;
}

.fond_pref:hover{
    background-color: var(--c1);
}

#deco {
    background-color: var(--c2);
    padding: 1rem;
    width: 200px;
    border-radius: 15px;
    margin: 3rem auto;
}

#deco a:hover {
    color: var(--c1);
}

.score_user {
    font-size: 3rem;
    color: rgb(40,40,40);
}

.resume {
    border-radius: 15px;
    display: inline-flex;
    flex-direction: row;
    width: 90%;
    justify-content: center;
    padding: .5rem .5rem .5rem .5rem;
    margin: 1rem 0 5rem 0;
    color: rgb(40,40,40);
    box-shadow: rgba(0, 0, 0, 0.8) 1px 5px 15px;
    backdrop-filter: blur(2px);
    max-width: 1200px;
    transition: .5s ease;
}


.resume:hover {
    background-color: var(--c1);
}

.candidats {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem 1rem 1rem 1rem;
    flex-wrap: wrap;
    box-shadow: rgba(0, 0, 0, 0.8) 1px 5px 15px;
    backdrop-filter: blur(2px);
    max-width: 1015px;
    transition: 0.5s ease;
    margin: 1rem auto 3rem;
}

.candidats:hover{
    background-color: var(--c1);
}

#deces:hover {
    background-color: black;
}

.bouton {
    margin: 2rem;
    background-color: #f89403;
    border-radius: 15px;
    width: 15rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.offcanvas-body{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

a:link {
    color: var(--text);
    text-decoration: none;
    .complement_bloc{
        color: black;
    }
}

a:visited {
    color: var(--text);
    text-decoration: none;
    .complement_bloc{
        color: black;
    }
}

a:hover {
    color: var(--c2);
    text-decoration: none;
    transition: 0.5s ease;
}

#joker{
    display: flex;
    flex-direction: column;
    background-color: var(--c2);
    align-content: flex-start;
}

.portrait {
    width: 12rem;
    height: 12rem;
    object-fit: cover;
    }

.portfav {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
}

.image {
    padding: 0 0 2rem 0;
}

.overlay {
  position: relative;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color : rgba(241, 235, 219,0.9);
  color: rgb(0, 0, 0);
  overflow: hidden;
  width: auto;
  height: 0;
  transition: .5s ease;
}

.overlay2 {
  position: relative;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color : rgba(0,0,0,0.7);
  color: var(--text);
  overflow: hidden;
  width: auto;
  height: 0;
  transition: .5s ease;
}

.alignement {
  margin: 0.1rem;
}

.alignement:hover .overlay {
  bottom: 100%;
  height: 100%;
}

.alignement:hover .overlay2 {
  bottom: 100%;
  height: 100%;
}

.text {
  text-shadow: rgba(0, 0, 0, 0) 1px 5px 5px;
  text-align: center;
  font-size: 0.9rem;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.soustexte {
    font-size: 0.8rem;
}

.message {
    border-radius:15px;
    color: var(--text);
    margin: 0.5rem 0rem 0 0rem;
    padding: 0.5rem;
    background-color: var(--c2);
}


footer{
  font-size: 0.7rem;
  color: var(--text);
}


table {
    width: 90%;
    margin: auto;
    justify-content: center;
    border-collapse: collapse;
    table-layout: fixed;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 10px;
    text-shadow: rgba(0, 0, 0, 0) 1px 5px 5px;
    max-width: 900px;
}

thead th {
   font-family: 'Rye', cursive;
   color: black;
   font-size: calc(22px + 0.390625vw);
   font-weight: normal;
   text-align: center;
   background-color: var(--text);
}

thead th:nth-child(1) {
  width: 34%;
}

thead th:nth-child(2) {
  width: 22%;
}

thead th:nth-child(3) {
  width: 22%;
}

thead th:nth-child(4) {
  width: 22%;
}

th,
td {
  padding: 10px;
}

tbody td {
    font-size: calc(25px + 0.390625vw);
    text-align: center;
}

tbody tr:nth-child(odd) {
  background-color: rgb(25,25,25, 0.7);
}

tbody tr:nth-child(odd):hover{
    background-color: var(--c1);
}

tbody tr:nth-child(even) {
  background-color: rgba(40,40,40, 0.4);
}

tbody tr:nth-child(even):hover{
    background-color: var(--c1);
}

.classement_user {
    color: black;
}


/* Styles pour le menu de navigation */
header {
    color: var(--text);
    padding: 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: var(--text);
    transition: color 0.3s;
}

.navbar a:hover {
    color: var(--c2);
}

.regles {
    padding: 1rem 0;
}

#mobile-menu {
        display: none;
    }

#menu-toggle {
    display: none;
}

#candidats_mobile {
    display: none;
}

#favoris {
    display: none;
}

#decedes {
    display: none;
}

/* Styles pour le menu hamburger sur mobile */
@media screen and (max-width: 768px) {

    body {
        font-size: calc(15px + 0.390625vw);
    }

    main {
        padding: 0;
    }

    .navbar {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--c2);
        padding: 10px 0;
        z-index: -1;
    }

    .navbar.active {
        display: flex;
        flex-direction: column;
    }

    #close-menu {
        display: block;
        cursor: pointer;
        margin: 1rem 0 0 0;
        height: 4rem;
        width: 4rem;
        background: var(--c2);
        border-radius: 2rem;
    }


    #menu-toggle {
        z-index: 3;
        position: fixed;
        display: block;
        cursor: pointer;
        margin: 1rem 0 0 1rem;
        height: 4rem;
        width: 4rem;
        background: var(--c2);
        border-radius: 2rem;
    }

    #menu-toggle img {
        width: 30px;
    }

    #mobile-menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        background-color: var(--c2);
        z-index: 3;
    }

    #mobile-menu.active {
        display: flex;
    }

    #mobile-menu ul {
        list-style: none;
        padding: 0;
        margin: 20px 0;
    }

    #mobile-menu ul li {
        margin: 45px 0;
    }

    #mobile-menu a {
        text-decoration: none;
        color: var(--text);
        transition: color 0.3s;
    }

    #mobile-menu a:hover {
        color: var(--c1);
    }

    h1{
        margin: 5rem auto 2rem;
        font-size: calc(36px + 0.390625vw);
    }

    h2{
        font-size: calc(20px + 0.390625vw);
    }

    a:link{
        .bloc{
        background-color: var(--c2);
    }
    }

    a:visited{
        .bloc{
        background-color: var(--c2);
    }
    }

    .compte {
        background-color: var(--c1);
    }

    .fond {
        background-color: var(--c1);
    }

    #deces {
        background-color: black;
    }

    .description {
        background-color: var(--c1);
    }

    .fond_pref{
        background-color: var(--c1);
    }

    .resume {
        width: 70%;
        margin: 1rem auto 5rem;
        flex-direction: column;
        background-color: var(--c1);
    }

    .titre_bloc {
        font-size: 1rem;
        text-shadow: rgba(0,0,0, 1) 0px 0px 5px;
        color: var(--text);
        }

    .bloc {
        width: 90%;
        height: 8rem;
        margin: 1rem auto 1rem;
    }

    .complement_bloc {
        font-size: calc(30px + 0.390625vw);
    }

    .titre_bloc:hover {
        color: var(--text);
        }

    .score_user {
        font-size: 1.3rem;
        }

    .contenu_bloc {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .portrait {
        width: 18rem;
        height: 18rem;
        opacity: 75%;
    }

    .portfav {
        width: 18rem;
        height: 18rem;
    }

    .candidats {
        display: none;
    }

    .text {
        font-size: 1.2rem;
    }

    .soustexte {
        font-size: 20px;
    }

    tbody td {
        font-size: calc(20px + 0.390625vw);
        text-align: center;
    }

    .ordi {
        display: none;
    }

    .swiper {
      --swiper-pagination-color: var(--c2);
      --swiper-pagination-bullet-inactive-color: var(--text);
      width: 22rem;
      max-width: 80%;
      border-radius: 15px;
      display: flex;
      justify-content: center;
      box-shadow: rgba(0, 0, 0, 0.8) 1px 5px 15px;
      padding: 1rem;
      margin: 1rem auto 4rem;
    }

    #candidats_mobile {
        display: flex;
        box-shadow: rgba(0, 0, 0, 0) 1px 5px 15px;
        .swiper-slide {
          border-radius: 15px;
          background-color: var(--c1);
          box-shadow: rgba(0, 0, 0, 0.8) 1px 5px 15px;
        }
        .diapo {
        box-shadow: rgba(0, 0, 0, 0) 1px 5px 15px;
        }
        .swiper-slide img {
          border: 5px solid var(--c2);
          box-shadow: rgba(0, 0, 0, 0) 1px 5px 15px;
        }
        a{
          color: var(--text);
        }
    }

    #favoris {
        display: flex;
        box-shadow: rgba(0, 0, 0, .8) 1px 5px 15px;
        .swiper-slide {
          border-radius: 15px;
          background-color: var(--c1);
        }
        a{
          color: var(--text);
        }
    }

    #decedes {
        display: flex;
        box-shadow: rgba(0, 0, 0, .8) 1px 5px 15px;
        .swiper-slide {
          border-radius: 15px;
          background-color: black;
        }
        a{
          color: var(--text);
        }
    }

    .swiper-slide {
      height: 100%;
      text-align: center;
      font-size: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      height: 15rem;
      width: 15rem;
      object-fit: cover;
      margin: 2rem auto;
      box-shadow: rgba(0, 0, 0, 0.8) 1px 5px 15px;
    }

    .diapo {
        background-color: var(--c2);
        margin: 2rem;
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.8) 1px 5px 15px;
    }
}