{% load static %}

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');

html, body {
    font-family: 'Rye', cursive;
}


/*
'Permanent Marker', cursive;
rgb(248,148,3) orange
rgb(40,40,40) gris foncé
rgb(217,217,217) gris clair
rgb(248,191,3) jaune
rgb(244,179,211) rose
*/


div{
    display: flex;
    flex-direction: column;
}


h1 {
    color: black;
    padding: 4rem 1rem 1.5rem 1rem;
    font-size: 2.2em;
    text-shadow: rgba(217,217,217, 0.7) 1px 3px 1px;
}


h2 {
    color: #F2B807;
    text-shadow: rgba(0, 0, 0, 0.9) 1px 3px 2px;
    font-size: 1.7rem;
    padding: 3rem 1rem 1rem 1rem;
}

#lien {
    color: rgb(217,217,217);
}

#lien:hover {
    color: rgb(248,191,3);
}

h3 {
    color: rgb(144, 150, 144);
    font-size: 1.4rem;
    padding: 1rem 1rem 0.5rem 1rem;
    text-shadow: rgba(0, 0, 0, 0.9) 1px 3px 2px;
}


li {
    padding: 1rem;
}

.bloc {
    padding: 1rem 0.3rem 1rem 0.3rem;
    background-color : rgb(217,217,217);
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
    margin: 0.8rem;
    width: 12rem;
    height: 13rem;
    justify-content: space-between;
}

.titre_bloc {
    color: rgb(132, 140, 148);
    font-size: 1.3rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

#ami:hover {
    background-color : rgb(248,191,3);
    box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px;
    transition: 0.5s ease;
}

.fond {
    background-color: rgba(0,0,0,0.7);
    padding: 1rem;
    border-radius:15px;
    margin: 1rem 2rem 1rem 2rem;
    backdrop-filter: blur(5px);
}


#fond_cercle {
    padding: 1rem 1rem 1rem 1rem;
    color: #f89403;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 5px;
}


body {
    background: no-repeat center url("/static/jdm/vautour_seul_fond_gris.svg");
    background-attachment: fixed;
    background-position-y: calc(100% + 5.5rem);
    background-color: #746C61;
    color: rgb(217,217,217);
    text-shadow: rgba(0, 0, 0, 0.9) 1px 3px 2px;
    font-size: 1.2rem;
    text-align: center;
}


header {
    /*background: url("/static/jdm/texture.jpg") no-repeat content-box;
     height: 200px;*/
    background-size: cover;
    background-color: #F2B6D7;
    box-shadow: rgba(0, 0, 0, 0.8) 1px 5px 15px;
}

.menu {
    align-content: center;
    font-size: 2rem;
    text-shadow: rgba(0, 0, 0, 0.9) 1px 1px 2px;
}

.menu:hover{
    transition: 0.5s ease;
    color: #F2B807;
    text-shadow: rgba(0, 0, 0, 0.9) 1px 1px 2px;
}


.connect {
    position: absolute;
    top: 1rem;
    right: 3rem;
}

.amis {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 70rem;
    box-shadow: rgba(0, 0, 0, 0.8) 1px 5px 15px;
    padding: 1rem;
}


.score_user {
    font-size: 3rem;
    color: rgb(40,40,40);
}

.resume {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem 1rem 1rem 1rem;
    margin: 1rem 0 2rem 0;
    color: rgb(40,40,40);
    box-shadow: rgba(0, 0, 0, 0.8) 1px 5px 15px;
    backdrop-filter: blur(2px);
}

.candidats {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 1rem 1rem 1rem 1rem;
    flex-wrap: wrap;
    margin: 4rem 0 2rem 0;
    box-shadow: rgba(0, 0, 0, 0.8) 1px 5px 15px;
    backdrop-filter: blur(2px);
}

.bouton {
    margin: 2rem;
    background-color: #f89403;
    border-radius: 15px;
    width: 15rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}



.offcanvas-body{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

a:link {
    color: rgb(240,240,240);
    text-decoration: none;
    text-shadow: rgba(0, 0, 0, 0.9) 1px 3px 2px;
}

a:visited {
    color: rgb(240,240,240);
    text-decoration: none;
}

a:hover {
    color: #F2B6D7;
    text-decoration: none;
    transition: 0.5s ease;
}

.image {
  width: 250 px;
  height: 250 px;
  object-fit: cover;
}

.overlay {
  position: relative;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color : Gainsboro;
  color: rgb(132, 140, 148);
  opacity: 0.9;
  overflow: hidden;
  width: auto;
  height: 0;
  transition: .5s ease;
}

.overlay2 {
  position: relative;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color : black;
  color: white;
  opacity: 0.7;
  overflow: hidden;
  width: auto;
  height: 0;
  transition: .5s ease;
}

.overlay3 {
  position: relative;
  bottom: 100;
  left: 0;
  right: 0;
  opacity: 1;
  color: white;
  width: auto;
  height: 0;
  text-shadow: rgba(0, 0, 0, 0) 1px 5px 5px;
}


.alignement {
  display: inline-flex;
  margin: 0.1rem;
}


.alignement:hover .overlay {
  bottom: 100%;
  height: 100%;
}

.alignement:hover .overlay2 {
  bottom: 100%;
  height: 100%;
}

.text {
  text-shadow: rgba(0, 0, 0, 0) 1px 5px 5px;
  text-align: center;
  font-size: 0.9rem;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.message {
    color: rgb(217,217,217);
    margin: 0.5rem 3rem 0 3rem;
    padding: 0.5rem;
    background-color: red;
    text-shadow: rgba(0, 0, 0, 0.9) 1px 3px 2px;
}

.connexion {
    margin: 3rem;
    width: 30rem;
    display: inline-flex;
    justify-content: center;
}

.inscription {
    margin: 3rem;
    width: 60rem;
    display: inline-flex;
    justify-content: center;
}

.pied {
    display: inline-flex;
    flex-direction: row;
    padding: 5rem 0 0 0;
    font-size: 1rem;
}

table {
    margin: 3rem;
    justify-content: center;
    color: rgb(217,217,217);
    text-shadow: rgba(0, 0, 0, 0.9) 1px 3px 2px;
    border-collapse: collapse;
    table-layout: fixed;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 10px;
}

thead th {
   color: #F2B807;
   font-size: 1.9rem;
   text-align: center;
   background-color: rgb(217,217,217);
}

thead th:nth-child(1) {
  width: 35%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 20%;
}

thead th:nth-child(4) {
  width: 25%;
}

th,
td {
  padding: 10px;
}

tbody td {
  text-align: center;
  font-size: 1.8rem;
}

tbody tr:nth-child(odd) {
  background-color: rgb(25,25,25, 0.7);
}

tbody tr:nth-child(even) {
  background-color: rgba(40,40,40, 0);
}

.classement_user {
    color: rgb(217,217,217);
    background-color: rgb(132, 140, 148);
}