{% load static %}

<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Le Jeu de la Mort</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'jdm/style-jdm.css' %}">
    <link rel="icon" href="{% static 'jdm/favicon.ico' %}">
</head>

<body>

<header>
    <nav>

    <ul>
        <div style="flex-direction: row">
            <a href="{% url 'jdm-index' %}"><img src="{% static 'jdm/accueil.png' %}" alt="Accueil" class="icone"></a>


        </div>
        {% if user.is_authenticated %}

            <li><a class="menu" href="{% url 'salle-user' request.user.id %}">Ma salle d'attente</a></li>


            <li><a class="menu" href="{% url 'classement' %}">Classement</a></li>

        {% endif %}

            <li><a class="menu" href="{% url 'favoris' %}">Les favoris</a></li>


            <li><a class="menu" href="{% url 'resume' %}">Dans nos cœurs</a></li>

                    {% if user.is_authenticated %}
            <a href="{% url 'parametres' %}"><img src="{% static 'jdm/utilisateur.png' %}" alt="Préférences" class="icone"></a>
            {% else %}
            <a href="{% url 'login' %}"><img src="{% static 'jdm/utilisateur.png' %}" alt="Connexion" class="icone"></a>

            {% endif %}

    </ul>
</nav>
</header>

<main>
{% if messages %}
    {% for message in messages %}
    <div class="message">
        {{ message }}
    </div>
    {% endfor %}
{% endif %}

    {% block content %}
    {% endblock %}

</main>


<footer>

    <div>Victor Crézé © 2023</div>
            {% if user.is_superuser %}
    <a href="{% url 'maj' %}">Mise à jour des données</a>
        {% endif %}
</footer>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>