<!DOCTYPE html>

{% load static %}

<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Le Jeu de la Mort</title>
    <meta name="description" content="Le Jeu De La Mort a pour fonction d'expier les sentiments douloureux par le mauvais goût.">
    <meta property="og:title" content="Le Jeu de la Mort">
    <meta property="og:description" content="Le Jeu De La Mort a pour fonction d'expier les sentiments douloureux par le mauvais goût.">
    <meta property="og:url" content="https://vertocz.pythonanywhere.com">
    <meta property="og:type" content="website">
    <meta name="keywords" content="jeudelamort, jeu de la mort, jeu, mort, mauvais goût, cynisme, vautour, vulture, vertocz">
    <link rel="icon" href="{% static 'jdm/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'jdm/style-jdm.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />

</head>

<body>
    <header>
        <nav class="navbar">
            <ul>
                <li><a href="{% url 'jdm-index' %}">Accueil</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'salle-user' request.user.id 2023 %}">Ma salle d'attente</a></li>
                <li><a href="{% url 'classement' 2023 %}">Classement</a></li>
                {% endif %}
                <div id="indication_menu">MENU</div>
                <li><a href="{% url 'favoris' %}">Les favoris</a></li>
                <li><a href="{% url 'resume' %}">Dans nos cœurs</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'parametres' %}">Paramètres</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">Connexion</a></li>
                <li><a href="{% url 'register_user' %}">Inscription</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <img id="menu-toggle" src="{% static 'jdm/menu.png' %}" alt="Menu">


    <div id="mobile-menu">
        <img id="close-menu" src="{% static 'jdm/fermer.png' %}" alt="Fermer">
    <ul>
        <li><a href="{% url 'jdm-index' %}">Accueil</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'salle-user' request.user.id 2023 %}">Ma salle d'attente</a></li>
        <li><a href="{% url 'classement' 2023 %}">Classement</a></li>
        {% endif %}
        <li><a href="{% url 'favoris' %}">Les favoris</a></li>
        <li><a href="{% url 'resume' %}">Dans nos cœurs</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'parametres' %}">Paramètres</a></li>
        {% else %}
        <li><a href="{% url 'login' %}">Connexion</a></li>
        <li><a href="{% url 'register_user' %}">Inscription</a></li>
        {% endif %}
    </ul>

    </div>

    <script src="{% static 'jdm/script.js' %}"></script>



<main>
{% if messages %}
    {% for message in messages %}
    <div class="message">
        {{ message }}
    </div>
    {% endfor %}
{% endif %}

    {% block content %}
    {% endblock %}

</main>


<footer>

    <div>Victor Crézé © 2023</div>
        {% if user.is_superuser %}
    <a href="{% url 'maj' %}">Mise à jour des données</a> // <a href="/admin/">Admin</a> // <a href="{% url 'maj-annuelle' %}">Mise à jour annuelle</a>
        {% endif %}
</footer>


</body>
</html>