<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Bingo PUBG</title>
    <link rel="stylesheet" href="{% static 'jdm/bingo.css' %}">
</head>
<body>

<img src="{% static 'jdm/logo_pubg.png' %}" alt="logo pubg" style="height: 200px;"/>

{% if matches|length > 0 %}
<h1>BINGO {{ joueur }}</h1>


<form action="{% url 'bingo' %}" method="post">
    {% csrf_token %}
    <label>Taper un nom de joueur</label>
    {{ form.joueur }}
    <input type="submit" value="Voir ses bingos">
</form>
{% for match in matches %}
<h2>{{match.1}} - Top {{match.4}}</h2>
<p>{{match.6}} / {{match.3|length}} joueurs réels</p>
<h3>
{% for joueur in match.2 %}
{{joueur}}
{% endfor %}
</h3>


 <div class="bingo">
        {% if match.5.1 %}
        <div class="case-verte">Winner Winner Chicken Dinner</div>
        {% else %}
        <div class="case">Winner Winner Chicken Dinner</div>
        {% endif %}

        {% if match.5.0 %}
        <div class="case-verte">Monter en ULM</div>
        {% else %}
        <div class="case">Monter en ULM</div>
        {% endif %}

        {% if match.5.2 %}
        <div class="case-verte">Prendre un ramassage d'urgence</div>
        {% else %}
        <div class="case">Prendre un ramassage d'urgence</div>
        {% endif %}

        {% if match.5.3 %}
        <div class="case-verte">Looter un Drop</div>
        {% else %}
        <div class="case">Looter un Drop</div>
        {% endif %}

        {% if match.5.4 %}
        <div class="case-verte">Kill de plus de 100m</div>
        {% else %}
        <div class="case">Kill de plus de 100m</div>
        {% endif %}

        {% if match.5.5 %}
        <div class="case-verte">Parcourir 3km sur la route</div>
        {% else %}
        <div class="case">Parcourir 3km sur la route</div>
        {% endif %}

        {% if match.5.6 %}
        <div class="case-verte">Kill un vrai joueur</div>
        {% else %}
        <div class="case">Kill un vrai joueur</div>
        {% endif %}

        {% if match.5.9 %}
        <div class="case-verte">KOBE !!</div>
        {% else %}
        <div class="case">KOBE !!</div>
        {% endif %}

        {% if match.5.7 %}
        <div class="case-verte">Kill au pistolet</div>
        {% else %}
        <div class="case">Kill au pistolet</div>
        {% endif %}

        {% if match.5.17 %}
        <div class="case-verte">Réanimer 2 fois</div>
        {% else %}
        <div class="case">Réanimer 2 fois</div>
        {% endif %}

        {% if match.5.14 %}
        <div class="case-verte">Utiliser 3 flashes</div>
        {% else %}
        <div class="case">Utiliser 3 flashes</div>
        {% endif %}

        {% if match.5.12 %}
        <div class="case-verte">Tuer 3 bots</div>
        {% else %}
        <div class="case">Tuer 3 bots</div>
        {% endif %}

        {% if match.5.8 %}
        <div class="case-verte">Atterrir à la Reynerie</div>
        {% else %}
        <div class="case">Atterrir à la Reynerie</div>
        {% endif %}

        {% if match.5.16 %}
        <div class="case-verte">Survivre 10 min</div>
        {% else %}
        <div class="case">Survivre 10 min</div>
        {% endif %}


        {% if match.5.15 %}
        <div class="case-verte">Drive-by kill</div>
        {% else %}
        <div class="case">Drive-by kill</div>
        {% endif %}

        {% if match.5.11 %}
        <div class="case-verte">Kill en zone bleue</div>
        {% else %}
        <div class="case">Kill en zone bleue</div>
        {% endif %}
    </div>
{% endfor %}

{% else %}
<h1>BINGO</h1>

<form action="{% url 'bingo' %}" style="padding: 0 0 1rem 0;" method="post">
    {% csrf_token %}
    <label>Taper un nom de joueur</label>
    {{ form.joueur }}
    <input type="submit" value="Voir ses bingos">
</form>

 <div class="bingo">
     <div class="case">Winner Winner Chicken Dinner</div>
     <div class="case">Monter en ULM</div>
     <div class="case">Prendre un ramassage d'urgence</div>
     <div class="case">Looter un Drop</div>
     <div class="case">Kill de plus de 100m</div>
     <div class="case">Parcourir 3km sur la route</div>
     <div class="case">Kill un vrai joueur</div>
     <div class="case">KOBE !!</div>
     <div class="case">Kill au pistolet</div>
     <div class="case">Réanimer 2 fois</div>
     <div class="case">Utiliser 3 flashes</div>
     <div class="case">Tuer 3 bots</div>
     <div class="case">Atterrir à la Reynerie</div>
     <div class="case">Survivre 10 min</div>
     <div class="case">Drive-by kill</div>
     <div class="case">Kill en zone bleue</div>
    </div>
{% endif %}

</body>
</html>