{% extends 'jdm/base.html' %}

{% block content %}
{% load static %}

<h1>{{ candidat.nom }}</h1>


{% if not candidat.photo == '' %}
    {% if candidat.DDD %}
<img src="https://commons.wikimedia.org/w/index.php?title=Special:Redirect/file/{{ candidat.photo }}&width=300" style="filter: sepia(1) saturate(30%);" alt="" class="image"/>
    {% else %}
<img src="https://commons.wikimedia.org/w/index.php?title=Special:Redirect/file/{{ candidat.photo }}&width=300" alt="" class="image"/>
    {% endif %}
{% endif %}


{% if candidat.DDD %}
<div class="description">
<div>{{ candidat.DDN }} - {{ candidat.DDD }}</div>
<div style="color: var(--c2)">{{ candidat.description|capfirst }}</div>
</div>
    {% if paris|length > 0 %}
<div class="fond_pref">
<h2>Qui avait désigné ce candidat ?</h2>
<div>
        {% for pari in paris %}
    <a href="{% url 'salle-user' pari.id %}">{{ pari.username }}</a>
        {% endfor %}
    </div>
</div>
    {% endif %}

{% else %}
<div class="description">
<div style="color: var(--c2)">{{ candidat.description|capfirst }}</div>
<div>Date de naissance : {{ candidat.DDN }} ({{ candidat.calcul_age }} ans)</div>
<div style="display: inline">Ce candidat peut rapporter <span style="color: var(--c2)">{{ candidat.points }} point{{ candidat.points|pluralize }}</span>.</div>
    {% if paris|length > 0 %}
</div>


<div class="fond_pref">
<h2>Qui a désigné ce candidat ?</h2>
<div>
        {% for pari in paris %}
    <a href="{% url 'salle-user' pari.id %}" class="designeurs">{{ pari.username }}</a>
        {% endfor %}
    </div>
    </div>
    {% endif %}


{% endif %}


{% endblock %}