{% extends 'jdm/base.html' %}

{% block content %}
{% load static %}


<h1>{{ candidat.nom }}</h1>


{% if candidat.photo == '' %}
<img src="{% static 'jdm/candidat.png' %}" width="170" height="170" alt="" class="image"/>
{% else %}
<img src="https://commons.wikimedia.org/w/index.php?title=Special:Redirect/file/{{ candidat.photo }}&width=300" alt="" class="image"/>
{% endif %}


{% if candidat.DDD %}
<h3 style="color: #f9fbe3">{{ candidat.DDN }} - {{ candidat.DDD }}</h3>
<div class="description">{{ candidat.description|capfirst }}</div>

    {% if paris|length > 0 %}
<h2>Qui avait désigné ce candidat ?</h2>
<div>
        {% for pari in paris %}
    <a href="{% url 'salle-user' pari.id %}">{{ pari.username }}</a>
        {% endfor %}
    </div>
    {% endif %}

{% else %}
<div class="description">{{ candidat.description|capfirst }}</div>
<div>Date de naissance : {{ candidat.DDN }} ({{ candidat.calcul_age }} ans)</div>
<div style="display: inline">Ce candidat peut rapporter <span style="color: #f89403">{{ candidat.points }} point{{ candidat.points|pluralize }}</span>.</div>
    {% if paris|length > 0 %}
<h2>Qui a désigné ce candidat ?</h2>
<div>
        {% for pari in paris %}
    <a href="{% url 'salle-user' pari.id %}">{{ pari.username }}</a>
        {% endfor %}
    </div>
    {% endif %}


{% endif %}




{% endblock %}