{% extends 'jdm/base.html' %}

{% block content %}
{% load static %}


<h2>{{ candidat.nom }}</h2>


{% if candidat.photo == '' %}
<img src="{% static 'jdm/candidat.png' %}" width="170" height="170" alt="{{ candidat.nom }}" class="image"/>
{% else %}
<img src="https://commons.wikimedia.org/w/index.php?title=Special:Redirect/file/{{ candidat.photo }}&width=300" alt="{{ candidat.nom }}" class="image"/>
{% endif %}


{% if candidat.DDD %}
<div style="padding: 0.5rem; color: #fd7e14;">{{ candidat.DDN }} - {{ candidat.DDD }}</div>
<div style="font-style: italic; padding: 0.5rem">{{ candidat.description|capfirst }}</div>

    {% if paris|length > 0 %}
<h3>Qui avait désigné ce candidat ?</h3>
<div>
        {% for pari in paris %}
    <a href="{% url 'salle-user' pari.id %}">{{ pari.username }}</a>
        {% endfor %}
    </div>
    {% endif %}

{% else %}
<div style="font-style: italic; padding: 0.5rem; color: #fd7e14;">{{ candidat.description|capfirst }}</div>
<div>Date de naissance : {{ candidat.DDN }} ({{ candidat.calcul_age }} ans)</div>
<div>Ce candidat peut rapporter {{ candidat.points }} point{{ candidat.points|pluralize }}.</div>
    {% if paris|length > 0 %}
<h3>Qui a désigné ce candidat ?</h3>
<div>
        {% for pari in paris %}
    <a href="{% url 'salle-user' pari.id %}">{{ pari.username }}</a>
        {% endfor %}
    </div>
    {% endif %}


{% endif %}




{% endblock %}