{% extends 'jdm/base.html' %}

{% block content %}
{% load static %}


<h1>{{ candidat.nom }} a bien été ajouté.e à votre liste</h1>



<div class="candidats">
    <div class="alignement">
        <a href="/candidats/{{ candidat.id }}/">
            {% if candidat.photo == '' %}
            <img src="{% static 'jdm/candidat.png' %}" width="170" height="170" alt="{{ candidat.nom }}" class="portchoix"/>
            {% else %}
            <img src="https://commons.wikimedia.org/w/index.php?title=Special:Redirect/file/{{ candidat.photo }}&width=300" width="170" height="170" alt="{{ candidat.nom }}" class="portchoix"/>
            {% endif %}
                <div class="overlay">
                    <div class="text">
                        <p>{{ candidat.calcul_age }} ans</p>
                        <p>{{ candidat.points }} point{{ candidat.points|pluralize }}</p>
                    </div>
                </div>
        </a>
    </div>
</div>

<div style="flex-direction: row; justify-content: center;"><div style="padding: 1rem;"><a href="{% url 'salle-user' request.user.id %}">Retourner dans votre salle d'attente</a></div>
    {% if nb_paris <= 8 %}
    <div style="padding: 1rem;"><a href="{% url 'candidat-create' %}">Nommer un nouveau candidat</a></div>
    {% endif %}
</div>

{% endblock %}