{% extends 'jdm/base.html' %}
{% block content %}
{% load static %}

<h1>{{ ligue.nom }}</h1>
<h2>{{ ligue.description }}</h2>
{% if not ligue.lancee %}
{% if ligue.public is False %}
    <div>(identifiant du cercle de jeu : {{ ligue.id }})</div>
{% endif %}
    <h2>Les inscrits :</h2>
    {% for user, paris, score in users %}
    {% if user.id == request.user.id %}
    <a href="{% url 'salle-attente' %}"><div>{{ user.username }}</div></a>

    {% else %}
    <a href="{% url 'salle-user' user.id %}"><div>{{ user.username }}</div></a>
    {% endif %}
    {% endfor %}
{% endif %}

{% if ligue.lancee %}
    {% for user, paris, score in users %}
<div class="fond">

         {% if user.id == request.user.id %}
         <a href="{% url 'salle-attente' %}"><h3>{{ user.username }} | {{ score }} point{{ score|pluralize }}</h3></a>
         {% else %}
         <a href="{% url 'salle-user' user.id %}"><h3>{{ user.username }} | {{ score }} point{{ score|pluralize }}</h3></a>
         {% endif %}


<div class="candidats">
         {% for pari in paris %}
            {% for candidat in candidats %}
            {% if candidat.wiki_id == pari.wiki_id %}
                    <div class="alignement">
                    <a href="/candidats/{{ candidat.id }}/">
                    {% if candidat.photo == '' %}
                    <img src="{% static 'jdm/candidat.png' %}" width="140" height="140" alt="{{ candidat.nom }}" class="image"/>
                    {% else %}
                    <img src="https://commons.wikimedia.org/w/index.php?title=Special:Redirect/file/{{ candidat.photo }}&width=300" width="140" height="140" alt="{{ candidat.nom }}" class="image"/>
                    {% endif %}
                        <div class="overlay">
                            <div class="text">
                                <p>{{ candidat.nom }}</p>
                                <p>{{ candidat.points }} point{{ candidat.points|pluralize }}</p>
                            </div>
                        </div>
                </a>
            </div>
            {% endif %}
            {% endfor %}
        {% endfor %}
        </div>
    </div>
    {% endfor %}



    {% if on_continue %}
        <h2>Ajouter un candidat</h2>
        {% if tour %}
            <form action="" method="post" novalidate>
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Rechercher">
            </form>
        {% else %}
            <div>En attente des nominations de vos camarades</div>
        {% endif %}
    {% endif %}


{% endif %}



{% if ligue.lancee is False %}
<div style="flex-direction: row; justify-content: center;">
    {% if users|length > 1 and request.user == ligue.createur %}
    <a href="{% url 'lancer-ligue' ligue.id %}"><div class="bouton">Lancer le jeu</div></a>
    {% endif %}
    <a href="{% url 'quitter-ligue' ligue.id %}"><div class="bouton">Quitter le cercle</div></a>
</div>
{% endif %}
{% endblock %}