{% extends 'jdm/base.html' %}
{% block content %}
{% load static %}

<h2 style="color: #dbb80b">{{ ligue.nom }}</h2>
<h3>{{ ligue.description }}</h3>
{% if not ligue.lancee %}
    <div>(identifiant du cercle de jeu : {{ ligue.id }})</div>
    <div style="padding: 2rem 0 0 0;">Les inscrits :</div>
{% endif %}
    {% for user, compteur, paris_actifs, paris_finis in users %}
    {% if user.id == request.user.id %}
    <a href="{% url 'salle-attente' %}"><div>{{ user.username }}</div></a>

    {% else %}
    <a href="{% url 'salle-user' user.id %}"><div>{{ user.username }}</div></a>
    {% endif %}
    {% endfor %}


{% if tour %}
<a href=""><h2>Ajouter un candidat</h2></a>
{% endif %}


<div style="flex-direction: row; justify-content: center;">
{% if ligue.lancee is False and users|length > 1 %}
    <div style="color: #dbb80b; margin: 2rem; background-color: #005145; border-radius: 15px; width: 18rem; padding: 0.5rem 0.5rem 0.5rem 0.5rem;">
        <a href="{% url 'lancer-ligue' ligue.id %}"><h4>Lancer le jeu</h4>
        <div style="color: #dbb80b;">(aucun nouveau joueur ne pourra intégrer le cercle de jeu)</div></a>
    </div>
{% endif %}

{% if ligue.lancee is False %}
    <div style="color: #dbb80b; margin: 2rem; background-color: #005145; border-radius: 15px; width: 18rem; padding: 0.5rem 0.5rem 0.5rem 0.5rem;">
        <a href="{% url 'quitter-ligue' ligue.id %}"><h4 style="padding: 1.5rem">Quitter le cercle</h4></a>
    </div>
    {% endif %}
</div>

{% endblock %}