{% extends 'jdm/base.html' %}
{% block content %}
{% load static %}


<p>Ici apparaissent les joueurs qui ont marqué des points ainsi que vos amis</p>

{% if liste|length > 0 %}
<div>
<table style="backdrop-filter: blur(15px);">
  <thead>
    <tr>
        <th>Joueur</th>
        <th>Score</th>
        <th>Succès</th>
        <th>Sélections</th>
    </tr>
  </thead>
  <tbody>
  {% for user, est_un_ami, score, nominations, succes in liste %}
  <tr>
      {% if est_un_ami %}
      <td class="classement_ami"><a style="color: var(--c2)" href="{% url 'salle-user' user.id %}">{{ user.username }}</a></td>
      <td class="classement_ami"><a style="color: var(--c2)" href="{% url 'salle-user' user.id %}">{{ score }}</a></td>
      <td class="classement_ami"><a style="color: var(--c2)" href="{% url 'salle-user' user.id %}">{{ score }}</a></td>
      <td class="classement_ami"><a style="color: var(--c2)" href="{% url 'salle-user' user.id %}">{{ nominations }}</a></td>

      {% elif user == request.user %}
      <td class="classement_user"><a style="color: black" href="{% url 'salle-user' user.id %}">{{ user.username }}</a></td>
      <td class="classement_user"><a style="color: black" href="{% url 'salle-user' user.id %}">{{ score }}</a></td>
      <td class="classement_user"><a style="color: black" href="{% url 'salle-user' user.id %}">{{ succes }}</a></td>
      <td class="classement_user"><a style="color: black" href="{% url 'salle-user' user.id %}">{{ nominations }}</a></td>

      {% else %}
          {% if score != 0 %}
          <td class="classement_points">{{ user.username }}</td>
          <td class="classement_points">{{ score }}</td>
          <td class="classement_points">{{ succes }}</td>
          <td class="classement_points">{{ nominations }}</td>

          {% endif %}
      {% endif %}

  </tr>
  {% endfor %}
  </tbody>
</table>
</div>


{% else %}
<div>Suivez ici vos amis. Il ne faut pas rester seul.e.</div>
{% endif %}

<h2>Ajouter un ami</h2>
<form action="{% url 'recherche-amis' %}" method="post">
    {% csrf_token %}
    <label for="your_name">Pseudo :</label>
    <input id="your_name" type="text" name="your_name" value="{{ current_name }}">
    <input type="submit" value="Rechercher">
</form>

{% if en_devenir|length > 0 %}
<h2>Ajouter quelqu'un qui vous suit :</h2>
{% for ami in en_devenir %}
<a href="{% url 'nouvel-ami' ami.id %}"><div>{{ ami.username }}</div></a>
{% endfor%}
{% endif %}

{% endblock %}