{% extends 'jdm/base.html' %}
{% block content %}
{% load static %}

<h1>Classement</h1>
<p style="padding: 1rem">Ici apparaissent les joueurs qui ont marqué des points ainsi que vos amis</p>

{% if saisons|length > 1 %}
<div style="display: inline-flex;">
    {% for saison in saisons %}
        {% if saison == saison_en_cours %}
        <a href="{% url 'classement' saison %}"><div class="bouton_annee" style="background-color: var(--c1)">{{ saison }}</div></a>
        {% else %}
        <a href="{% url 'classement' saison %}"><div class="bouton_annee">{{ saison }}</div></a>
        {% endif %}
    {% endfor %}
</div>
{% endif %}

{% if liste|length > 0 %}
<div>
<table style="backdrop-filter: blur(15px);">
  <thead>
    <tr>
        <th>Joueur</th>
        <th>Score</th>
        <th class="ordi">Nommés</th>
        <th class="ordi">Nominés</th>
    </tr>
  </thead>
  <tbody>
  {% for user, est_un_ami, score, nominations, succes in liste %}

      {% if est_un_ami %}
      <tr class="classement_ami">
      <td><a style="color: var(--c2)" href="{% url 'salle-user' user.id saison_en_cours %}">{{ user.username }}</a></td>
      <td><a style="color: var(--c2)" href="{% url 'salle-user' user.id saison_en_cours %}">{{ score }}</a></td>
      <td class="ordi"><a style="color: var(--c2)" href="{% url 'salle-user' user.id saison_en_cours %}">{{ succes }}</a></td>
      <td class="ordi"><a style="color: var(--c2)" href="{% url 'salle-user' user.id saison_en_cours %}">{{ nominations }}</a></td></tr>

      {% elif user == request.user %}
      <tr class="classement_user" style="background-color: var(--c2)">
      <td><a style="color: black; " href="{% url 'salle-user' user.id saison_en_cours %}">{{ user.username }}</a></td>
      <td><a style="color: black" href="{% url 'salle-user' user.id saison_en_cours %}">{{ score }}</a></td>
      <td class="ordi"><a style="color: black" href="{% url 'salle-user' user.id saison_en_cours %}">{{ succes }}</a></td>
      <td class="ordi"><a style="color: black" href="{% url 'salle-user' user.id saison_en_cours %}">{{ nominations }}</a></td></tr>

      {% else %}
          {% if score != 0 %}
          <tr>
          <td class="classement_points">{{ user.username }}</td>
          <td class="classement_points">{{ score }}</td>
          <td class="ordi">{{ succes }}</td>
          <td class="ordi">{{ nominations }}</td></tr>

          {% endif %}
      {% endif %}


  {% endfor %}
  </tbody>
</table>
</div>

{% else %}
<div>Suivez ici vos amis. Il ne faut pas rester seul.e.</div>
{% endif %}

<h2>Ajouter un ami</h2>
<form action="{% url 'recherche-amis' %}" method="post">
    {% csrf_token %}
    <label for="your_name">Pseudo :</label>
    <input id="your_name" type="text" name="your_name" value="{{ current_name }}">
    <input type="submit" value="Rechercher">
</form>

{% if en_devenir|length > 0 %}
<h2>Ajouter quelqu'un qui vous suit :</h2>
    {% for ami in en_devenir %}
        <a href="{% url 'nouvel-ami' ami.id %}"><div>{{ ami.username }}</div></a>
    {% endfor%}
{% endif %}

{% endblock %}