{% extends 'jdm/base.html' %}

{% block content %}
{% load static %}
<style>
    html, body{
        background-color: rgb(70,70,70);
    }
</style>

<h1 style="color: var(--text)">Dans nos cœurs</h1>

{% for annee, candidats_decedes in liste %}

<h2>{{ annee }}</h2>

{% if candidats_decedes|length == 0 %}
<div>Aucun.e candidat.e n'a été élu.e</div>

{% else %}
<div class="candidats" id="deces">
{% for x, y in candidats_decedes %}
<div class="alignement">
        <a href="/candidats/{{ x.id }}/">
            {% if x.photo is None or x.photo == '' %}
            <img src="{% static 'jdm/candidat.png' %}" alt="{{ x.nom }}" class="sans_portrait_dcd"/>
            {% else %}
            <img src="https://commons.wikimedia.org/w/index.php?title=Special:Redirect/file/{{ x.photo }}&width=300" alt="{{ x.nom }}" class="portrait_dcd"/>
            {% endif %}
                <div class="overlay">
                    <div class="text">
                        <p>{{ x.nom }}</p>
                        <p>{{ x.points }} point{{ x.points|pluralize }}</p>
                        <p class="soustexte">{{ y|length }} nomination{{ y|length|pluralize }}</p>
                    </div>
                </div>
        </a>
    </div>
    {% endfor %}

</div>



<!-- Conteneur Swiper -->
<div class="swiper" id="decedes">
    <!-- Diapositives Swiper -->
    <div class="swiper-wrapper">
        {% for x, y in candidats_decedes %}
        <div class="swiper-slide">
            <a href="/candidats/{{ x.id }}/">
                {% if x.photo is None or x.photo == '' %}
                <img src="{% static 'jdm/candidat.png' %}" alt="{{ x.nom }}" class="portrait_swiper"/>
                {% else %}
                <img src="https://commons.wikimedia.org/w/index.php?title=Special:Redirect/file/{{ x.photo }}&width=300" alt="{{ x.nom }}" class="portrait_swiper" style="filter: sepia(1) saturate(30%);"/>
                {% endif %}
                <div class="diapo">
                    <p>{{ x.nom }}</p>
                    <p>{{ x.points }} point{{ x.points|pluralize }}</p>
                    <p class="soustexte">{{ y|length }} nomination{{ y|length|pluralize }}</p>
                </div>
            </a>
    </div>
    {% endfor %}
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>

  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script src="{% static 'jdm/script.js' %}"></script>

{% endif %}
{% endfor %}

{% endblock %}
