{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Diapo</title>
    <link rel="stylesheet" href="{% static 'jdm/style-jdm.css' %}">


</head>
<body>
<div class="siema">
    <div><img src="{% static 'jdm/candidat.png' %}" alt="{{ x.nom }}" class="portrait"/></div>
    <div>B</div>
    <div><img src="{% static 'jdm/candidat.png' %}" alt="{{ x.nom }}" class="portrait"/></div>
</div>
<script src="{% static 'jdm/siema.min.js' %}"></script>
<script>
  new Siema();
</script>



</body>
</html>