{% extends 'jdm/base.html' %}

{% block content %}

<h1>Qui a le plus été désigné volontaire ?</h1>
{% if favoris|length < 1 %}
<div>Aucun favori ne semble se détacher pour le moment...</div>
{% else %}
<div class="candidats">
{% for candidat, nb_votes, z in favoris %}
<div class="alignement">
        <a href="/candidats/{{ candidat.id }}/"><img src="https://commons.wikimedia.org/w/index.php?title=Special:Redirect/file/{{ candidat.photo }}&width=300" alt="{{ candidat.nom }}" class="portrait"/>
                <div class="overlay">
                    <div class="text">
                        <p>{{ candidat.nom }}</p>
                        <p style="font-size: 0.7rem">{{ nb_votes }} nominations</p>
                    </div>
                </div>
        </a>
    </div>

{% endfor %}
    </div>
{% endif %}

{% endblock %}