{% extends 'jdm/base.html' %}

{% block content %}
<h1>Règles du jeu</h1>
<div class="fond">
    <p>Le Jeu de la Mort a pour fonction d'expier les sentiments douloureux par le mauvais goût.</p>
    <p>Le principe est simple : nommer des personnalités qui passeront l'arme à gauche dans l'année.</p>
    <p>Chaque joueur désigne 10 candidats à la mort pour l'année civile en cours.</p>
    <p>Lors du décès d'un candidat, le joueur l'ayant désigné peut sélectionner en remplacement une nouvelle personne.</p>
    <p>Le nombre de points que rapporte le décès d'un candidat est indexé sur son âge au moment de son décès.</p>
</div>

{% if user.is_authenticated is False %}
<a href="{% url 'login' %}"><h2>Rejoignez la communauté et faites votre liste !</h2></a>
{% endif %}

{% endblock %}
