{% extends 'jdm/base.html' %}

{% block content %}
<h2>Règles du jeu</h2>
<p>Le Jeu de la Mort a pour fonction d'expier les sentiments douloureux par le mauvais goût.
<p>Le principe est simple : nommer des personnalités qui passeront l'arme à gauche dans l'année.</p>
<p>Plus la personne est jeune, plus son décès rapporte de points.</p>
<p>Chaque joueur désigne 10 candidats à la mort pour l'année civile à venir.</p>
<p>Le nombre de points que rapporte le décès d'un candidat est indexé sur son âge au moment de son décès.</p>
<p>Lors du décès d'un candidat, le joueur l'ayant désigné peut sélectionner en remplacement une nouvelle personne.</p>

{% if user.is_authenticated is False %}
<h2>Rejoignez la communauté et faites votre liste !</h2>
{% endif %}

{% endblock %}
