{% extends 'jdm/base.html' %}
{% block content %}
{% load static %}



{% if cercles|length == 0 %}
<div class="fond">
<p style="display: inline">Ceci est la <span style="color:#dbb80b">version originale</span> du Jeu de la Mort</p>
<p>Dans un cercle de jeu, chaque joueur est amené à créer une nouvelle liste.</p>
<p>Un candidat ne peut être sélectionné que par un seul joueur.</p>
<p>Les nominations se font à tour de rôle.</p>
<p>Le jeu se termine à la fin de l'année civile. Le joueur avec le plus de points l'emporte.</p>
</div>

<div style="padding: 1rem">Vous n'êtes actuellement inscrit.e à aucun cercle de jeu.</div>


{% else %}
<h1>Mes cercles de jeu</h1>


<div class="mes_cercles">
{% for cercle in cercles %}
<a href="{% url 'cercle' cercle.ligue.id %}">
    {% if cercle.continuer is False %}
    <div class="cercle" id="en_cours">
    {% elif cercle.ligue.lancee is True %}
    <div class="cercle">
        {% if cercle.tour is True %}
        <div>&#128233; </div>
        {% else %}
        <div>&#10004</div>
        {% endif %}
    {% else %}
    <div class="cercle" id="pas_lance">
        <div>&#x23F3</div>
    {% endif %}
        <h3>{{ cercle.ligue.nom }}</h3>
        <div>{{ cercle.ligue.description }}</div>
    </div></a>
{% endfor %}
</div>

<div class="fond">
<p style="display: inline">Ceci est la <span style="color:#add9ce">version originale</span> du Jeu de la Mort</p>
<p>Dans un cercle de jeu, chaque joueur est amené à créer une nouvelle liste.</p>
<p>Un candidat ne peut être sélectionné que par un seul joueur.</p>
<p>Les nominations se font à tour de rôle.</p>
<p>Le jeu se termine à la fin de l'année civile. Le joueur avec le plus de points l'emporte.</p>
    </div>
{% endif %}

<div class="mes_cercles">
    <div class="cercle_action">
        <h2>Créer un nouveau cercle de jeu</h2>
        <form action="" method="post" novalidate>
            {% csrf_token %}
            <div style="text-align: right">{{ form.as_p }}</div>
            <input type="submit" value="Créer">
        </form>
    </div>

    <div class="cercle_action">
        <h2>Rejoindre un cercle privé</h2>
        <div>Entrer l'identifiant du cercle que vous souhaitez rejoindre.</div>
                <form action="" method="post" novalidate>
            {% csrf_token %}
            {{ rejoindre.as_p }}
            <input type="submit" value="Rejoindre">
        </form>
        </div>
    {% if cercles_publics|length > 0 %}
    <div class="cercle_action">
        <h2>Rejoindre un cercle public :</h2>
        {% for cercle in cercles_publics %}
        <a href="{% url 'rejoindre' cercle.id %}"><div>{{ cercle.nom }}</div></a>
        {% endfor %}
        </div>
    {% endif %}

</div>

{% endblock %}