{% extends 'jdm/base.html' %}
{% block content %}
{% load static %}

<h1>Mes amis</h1>

{% if liste|length > 0 %}
<div class="amis">
    {% for ami, score_user_x, score_max_x, moyenne_x, joker_x in liste %}
        <a href="{% url 'salle-user' ami.id %}">
            <div class="bloc" id="ami">
                <div class="titre_bloc">{{ ami.username }}</div>
                <div class="score_user">{{ score_user_x }}</div>
                <div style="color: #f89403">points</div>
            </div></a>
    {% endfor %}

    </div>
{% else %}
<div>Suivez ici vos amis. Il ne faut pas rester seul.e.</div>
{% endif %}

<a href="{% url 'recherche-amis' %}"><h2 id="lien">Ajouter un ami</h2></a>

{% if en_devenir|length > 0 %}
<h2>Ajouter quelqu'un qui vous suit :</h2>
{% for ami in en_devenir %}
<a href="{% url 'nouvel-ami' ami.id %}"><div>{{ ami.username }}</div></a>
{% endfor%}
{% endif %}

{% endblock %}