{% extends 'jdm/base.html' %}
{% block content %}
{% load static %}

<h1>Dans nos coeurs</h1>

<div class="candidats">
    {% for candidat in deces %}
    <div class="alignement"><a href="/candidats/{{ candidat.0.id }}/">
            {% if candidat.0.photo == '' %}
            <img src="{% static 'jdm/candidat.png' %}" width="250" height="250" alt="{{ candidat.0.nom }}" class="image"/>
            {% else %}
            <img src="https://commons.wikimedia.org/w/index.php?title=Special:Redirect/file/{{ candidat.0.photo }}&width=300" width="250" height="250" alt="{{ candidat.0.nom }}" class="image"/>
            {% endif %}
                <div class="overlay3">
                    <div class="text">
                        <p>{{ candidat.0.nom }}</p>
                        <p>{{ candidat.0.points }} point{{ candidat.0.points|pluralize }}</p>
                        <p style="font-style: italic;">
                                {% for ami in candidat.1 %}
                                    {{ ami }}
                                {% endfor %}
                        </p>
                    </div>
                </div>
        </a></div>
    {% endfor %}
</div>

{% endblock %}
