{% extends 'jdm/base.html' %}

{% block content %}
{% load static %}


<h1>{{ ami.username }} a élargi votre cercle !</h1>

<h2><a href="{% url 'salle-user' ami.id annee %}">Voir sa salle d'attente</a></h2>

<h2>Nouvelle recherche</h2>
<form action="{% url 'recherche-amis' %}" method="post">
    {% csrf_token %}
    <label for="your_name">Pseudo :</label>
    <input id="your_name" type="text" name="your_name" value="{{ current_name }}">
    <input type="submit" value="Rechercher">
</form>

{% endblock %}