{% extends 'jdm/base.html' %}

{% block content %}
{% load static %}

<h1>Paramètres</h1>

<div class="fond_pref">
<h2>Informations personnelles</h2>
<div>Pseudo: {{ joueur.username }}</div>
<div>E-mail: {{ joueur.email }}</div>
<a href="{% url 'parametres' %}"><div>Modifier mon mot de passe</div></a>
</div>

<div class="fond_pref">
<h2>Préférences de communication</h2>
<form action="" method="post" novalidate>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Valider">
</form>
</div>

        {% if user.is_authenticated %}
        <div id="deco"><a href="{% url 'logout' %}">Déconnexion</a></div>
        {% else %}
        <div style="flex-direction: row; justify-content: right; "><a href="{% url 'login' %}">Connexion</a> | <a href="{% url 'register_user' %}">Inscription</a></div>
        {% endif %}


{% endblock %}