{% extends 'jdm/base.html' %}

{% block content %}
{% load static %}

<h1>Paramètres</h1>

<div class="fond_pref">
<h2>Informations personnelles</h2>
    <form action="{% url 'parametres' %}" method="post" class="parametres">

        {% csrf_token %}
        <div>
            <label class="form-label">Pseudo :</label>
            <input type="text" class="form-control" name="username" value="{{ joueur.username }}"></div>

        <div>
            <label class="form-label">Adresse e-mail :</label>
            <input type="text" class="form-control" name="email" aria-describedby="emailHelp" value="{{ joueur.email }}"></div>

        <input type="submit" value="Modifier" class="bouton" name="informations">
    </form>
</div>

<div class="fond_pref">
<h2>Préférences de communication</h2>
<form action="" method="post" novalidate>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Valider" class="bouton" name="communication">
</form>
</div>

        {% if user.is_authenticated %}
        <div id="deco"><a href="{% url 'logout' %}">Déconnexion</a></div>
        {% else %}
        <div style="flex-direction: row; justify-content: right; "><a href="{% url 'login' %}">Connexion</a> | <a href="{% url 'register_user' %}">Inscription</a></div>
        {% endif %}


{% endblock %}