{% extends 'jdm/base.html' %}

{% block content %}
{% load static %}

{% if liste|length > 0 %}
<h2>Sélectionner l'ami à ajouter</h2>
{% for ami in liste %}
<div><a href="{% url 'nouvel-ami' ami.id %}">{{ ami.username }}</a></div>
{% endfor %}

{% else %}
<h2>Ajouter un ami</h2>
<div>Inscrire ici le pseudo d'un ami pour le retrouver</div>

<form action="" method="post" novalidate>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Rechercher">
</form>
{% endif %}



{% endblock %}