{% extends 'jdm/base.html' %}

{% block content %}
{% load static %}

<h1>Dans nos cœurs</h1>
{% if candidats_decedes|length == 0 %}
<div>Aucun.e candidat.e n'a à ce jour été élu.e</div>

{% else %}
<div class="candidats" id="deces">
{% for x, y in candidats_decedes %}
<div class="alignement">
        <a href="/candidats/{{ x.id }}/">
            {% if x.photo is None or x.photo == '' %}
            <img src="{% static 'jdm/candidat.png' %}" alt="{{ x.nom }}" class="portrait"/>
            {% else %}
            <img src="https://commons.wikimedia.org/w/index.php?title=Special:Redirect/file/{{ x.photo }}&width=300" alt="{{ x.nom }}" class="portrait" style="filter: grayscale(1);"/>
            {% endif %}
                <div class="overlay2">
                    <div class="text">
                        <p>{{ x.nom }}</p>
                        <p>{{ x.points }} point{{ x.points|pluralize }}</p>
                        <p class="soustexte">{{ y|length }} nomination{{ y|length|pluralize }}</p>
                    </div>
                </div>
        </a>
    </div>
    {% endfor %}

</div>
{% endif %}


{% endblock %}
