{% extends 'jdm/base.html' %}
{% block content %}
{% load static %}

{% if joueur != request.user %}
<h1 id="joueur">{{ joueur.username }}</h1>
{% endif %}

{% if rap > 0 %}
{% if joueur == request.user %}
<div>Vous pouvez encore nommer {{ rap }} candidat{{ rap|pluralize }}.</div>
<h2 style="padding: 1rem 0 2rem 0; "><a href="{% url 'candidat-create' %}">Ajouter un candidat</a></h2>


{% else %}
<div>{{ joueur.username }} peut encore nommer {{ rap }} candidat{{ rap|pluralize }}.</div>
{% endif %}

{% endif %}

<div class="resume">
    <div class="bloc"><div class="titre_bloc">Score</div>
        <div style="font-size: calc(40px + 0.390625vw)">{{ score }}</div>
        <div>point{{ score|pluralize }}</div>
    </div>

    {% if paris|length > 0 %}
    <div class="bloc">
        <div class="titre_bloc">Points à gagner</div>
        <div style="font-size: calc(40px + 0.390625vw)">{{ score_max }}</div>
        <div>point{{ score_max|pluralize }}</div>
    </div>
    {% endif %}
    {% if paris|length > 0 %}

    <div class="bloc">
        <div class="titre_bloc">Le coup de poker</div>
        <div style="font-weight: bold;">{{ poker.nom }}</div>
    </div>

    <div class="bloc">
        <div class="titre_bloc">Âge moyen</div>
        <div style="font-size: calc(40px + 0.390625vw)">{{ moyenne }}</div>
        <div>ans</div>
    </div>

    {% endif %}
    </div>
<div></div>
{% if paris|length > 0 %}
<div class="candidats">
{% for pari in paris %}
        {% for candidat in candidats_joueur %}
            {% if candidat == pari.candidat and candidat.DDD is null %}
<div class="alignement">
        <a href="/candidats/{{ candidat.id }}/">
            {% if candidat.photo == '' %}
            <img class="portrait" src="{% static 'jdm/candidat.png' %}" alt="{{ candidat.nom }}"/>
            {% else %}
            <img class="portrait" src="https://commons.wikimedia.org/w/index.php?title=Special:Redirect/file/{{ candidat.photo }}&width=300" alt="{{ candidat.nom }}" class="image"/>
            {% endif %}
                <div class="overlay">
                    <div class="text">
                        <p>{{ candidat.nom }}</p>
                        <p>{{ candidat.calcul_age }} ans</p>
                        <p>{{ candidat.points }} point{{ candidat.points|pluralize }}</p>
                    </div>
                </div>
        </a>
    </div>
                {% endif %}
            {% endfor %}
    {% endfor %}
    </div>
{% endif %}

{% if deces|length > 0 %}
<h1>Dans nos cœurs</h1>
<div class="candidats">
{% for pari in paris %}
    {% if pari.joueur == joueur %}
        {% for candidat in candidats_joueur %}

            {% if candidat == pari.candidat and candidat.DDD %}
    <div class="alignement">
        <a href="/candidats/{{ candidat.id }}/">
            {% if candidat.photo == '' %}
            <img src="{% static 'jdm/candidat.png' %}" alt="{{ candidat.nom }}" class="portrait"/>
            {% else %}
            <img src="https://commons.wikimedia.org/w/index.php?title=Special:Redirect/file/{{ candidat.photo }}&width=300" alt="{{ candidat.nom }}" class="portrait"/>
            {% endif %}
                <div class="overlay2">
                    <div class="text">
                        <p>{{ candidat.nom }}</p>
                        <p>{{ candidat.points }} point{{ candidat.points|pluralize }}</p>
                        <p>{{ candidat.calcul_age }} ans</p>
                    </div>
                </div>
        </a>
    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
    </div>
{% endif %}

{% if joueur != request.user %}
<a href="{% url 'retirer-ami' joueur.id %}"><h2>Retirer {{ joueur.username }} de mon cercle d'amis</h2></a>
{% endif %}

{% endblock %}