{% extends 'jdm/base.html' %}
{% block content %}
{% load static %}

{% if joueur != request.user %}
<h1 id="joueur">{{ joueur.username }}</h1>
{% else %}
<h1>Ma salle d'attente</h1>
{% endif %}

{% if saisons|length > 1 %}
<div style="display: inline-flex;">
    {% for saison in saisons %}
        {% if saison == saison_en_cours %}
        <a href="{% url 'salle-user' joueur.id saison %}"><div class="bouton_annee" style="background-color: var(--c1)">{{ saison }}</div></a>
        {% else %}
        <a href="{% url 'salle-user' joueur.id saison %}"><div class="bouton_annee">{{ saison }}</div></a>
    {% endif %}
    {% endfor %}
</div>
{% endif %}

<div></div>

{% if rap != 10%}
<div class="resume">
    <div class="bloc"><div class="titre_bloc">Score</div>
        <div class="contenu_bloc"><span style="font-size: calc(40px + 0.390625vw)">{{ score }}</span><span class="complement_bloc">&nbsp;point{{ score|pluralize }}</span></div>
    </div>

    {% if paris|length > 0 %}
    <div class="bloc">
        <div class="titre_bloc">Points à gagner</div>
        <div class="contenu_bloc"><span style="font-size: calc(40px + 0.390625vw)">{{ score_max }}</span><span class="complement_bloc">&nbsp;point{{ score_max|pluralize }}</span></div>
    </div>
    {% endif %}
    {% if paris|length > 0 %}
    <a href="/candidats/{{ poker.id }}/" class="bloc" id="joker">
        <div class="titre_bloc">Le coup de poker</div>
        <div style="font-weight: bold;"  class="complement_bloc">{{ poker.nom }}</div>
    </a>

    <div class="bloc">
        <div class="titre_bloc">Âge moyen</div>
        <div class="contenu_bloc"><span style="font-size: calc(40px + 0.390625vw)">{{ moyenne }}</span><span class="complement_bloc">&nbsp;ans</span></div>
    </div>

    {% endif %}
    </div>
{% endif %}


<div class="swiper" id="resume">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
          <p class="titre_bloc">Score</p>
          <p class="diapo">{{ score }} point{{ score|pluralize }}</p></div>
      <div class="swiper-slide">
          <p class="titre_bloc">Points à gagner</p>
          <p class="diapo">{{ score_max }} point{{ score_max|pluralize }}</p></div>
      <div class="swiper-slide">
          <a href="/candidats/{{ poker.id }}/">
              <p class="titre_bloc">Le coup de poker</p>
              <p class="diapo" style="color: var(--c2)">{{ poker.nom }}</p></a></div>
      <div class="swiper-slide">
          <p class="titre_bloc">Âge moyen</p>
          <p class="diapo">{{ moyenne }} ans</p></div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>

  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script src="{% static 'jdm/script.js' %}"></script>

<div></div>

{% if paris|length > 0 %}
<div class="candidats">
{% for pari in paris %}
        {% for candidat in candidats_joueur %}
            {% if candidat == pari.candidat and candidat.DDD is null %}
<div class="alignement">
        <a href="/candidats/{{ candidat.id }}/">
            {% if candidat.photo == '' %}
            <img class="portrait" src="{% static 'jdm/candidat.png' %}" alt="{{ candidat.nom }}"/>
            {% else %}
            <img class="portrait" src="https://commons.wikimedia.org/w/index.php?title=Special:Redirect/file/{{ candidat.photo }}&width=300" alt="{{ candidat.nom }}" class="image"/>
            {% endif %}
                <div class="overlay">
                    <div class="text">
                        <p>{{ candidat.nom }}</p>
                        <p>{{ candidat.calcul_age }} ans</p>
                        <p>{{ candidat.points }} point{{ candidat.points|pluralize }}</p>
                    </div>
                </div>
        </a>
    </div>
                {% endif %}
            {% endfor %}
    {% endfor %}
    </div>


<div class="swiper" id="candidats">
    <div class="swiper-wrapper">
    {% for pari in paris %}
    {% for candidat in candidats_joueur %}
    {% if candidat == pari.candidat and candidat.DDD is null %}
    <div class="swiper-slide"><a href="/candidats/{{ candidat.id }}/">
        {% if candidat.photo == '' %}
        <img class="portrait_swiper" src="{% static 'jdm/candidat.png' %}" alt="{{ candidat.nom }}"/>
        {% else %}
        <img class="portrait_swiper" src="https://commons.wikimedia.org/w/index.php?title=Special:Redirect/file/{{ candidat.photo }}&width=300" alt="{{ candidat.nom }}" class="image"/>
        {% endif %}

        <div style="color: var(--text);">
            <p>{{ candidat.nom }}</p>
            <p>{{ candidat.calcul_age }} ans</p>
            <p>{{ candidat.points }} point{{ candidat.points|pluralize }}</p>
        </div>
    </a></div>
    {% endif %}
    {% endfor %}
    {% endfor %}
</div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
</div>
  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script src="{% static 'jdm/script.js' %}"></script>

{% else %}

<div>{{ joueur.username }} n'a nommé aucun.e candidat.e cette saison.</div>

{% endif %}



{% if rap > 0 and not terminee %}
    {% if joueur == request.user %}
    <div>Vous pouvez encore nommer {{ rap }} candidat{{ rap|pluralize }}.</div>
    <h2 style="padding: 1rem 0 2rem 0; "><a href="{% url 'candidat-create' %}">Ajouter un candidat</a></h2>
    {% else %}
    <div>{{ joueur.username }} peut encore nommer {{ rap }} candidat{{ rap|pluralize }}.</div>
    {% endif %}
{% endif %}



{% if deces|length > 0 %}
<h1>Dans nos cœurs</h1>
<div class="candidats" id="deces">
{% for pari in paris %}
    {% if pari.joueur == joueur %}
        {% for candidat in candidats_joueur %}

            {% if candidat == pari.candidat and candidat.DDD %}
    <div class="alignement">
        <a href="/candidats/{{ candidat.id }}/">
            {% if candidat.photo == '' %}
            <img src="{% static 'jdm/candidat.png' %}" alt="{{ candidat.nom }}" class="portrait"/>
            {% else %}
            <img src="https://commons.wikimedia.org/w/index.php?title=Special:Redirect/file/{{ candidat.photo }}&width=300" alt="{{ candidat.nom }}" class="portrait" style="filter: grayscale(1);"/>
            {% endif %}
                <div class="overlay2">
                    <div class="text">
                        <p>{{ candidat.nom }}</p>
                        <p>{{ candidat.points }} point{{ candidat.points|pluralize }}</p>
                        <p>{{ candidat.calcul_age }} ans</p>
                    </div>
                </div>
        </a>
    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
    </div>

<div class="swiper" id="decedes">
    <div class="swiper-wrapper">
{% for pari in paris %}
    {% if pari.joueur == joueur %}
        {% for candidat in candidats_joueur %}

            {% if candidat == pari.candidat and candidat.DDD %}
    <div class="swiper-slide"><a href="/candidats/{{ candidat.id }}/">
        {% if candidat.photo == '' %}
        <img class="portrait_swiper" src="{% static 'jdm/candidat.png' %}" alt="{{ candidat.nom }}"/>
        {% else %}
        <img class="portrait_swiper" src="https://commons.wikimedia.org/w/index.php?title=Special:Redirect/file/{{ candidat.photo }}&width=300" alt="{{ candidat.nom }}" class="image" style="filter: sepia(1) saturate(30%);"/>
        {% endif %}

        <div style="color: var(--text);">
            <p>{{ candidat.nom }}</p>
            <p>{{ candidat.calcul_age }} ans</p>
            <p>{{ candidat.points }} point{{ candidat.points|pluralize }}</p>
        </div>
    </a></div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
</div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
</div>
  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script src="{% static 'jdm/script.js' %}"></script>

{% endif %}



{% if joueur != request.user %}
<h3><a href="{% url 'retirer-ami' joueur.id %}">Retirer {{ joueur.username }} de mon cercle d'amis</a></h3>
{% endif %}

{% endblock %}