{% extends 'jdm/base.html' %}

{% block content %}


<form class="connexion" action="" method="post">
    {% csrf_token %}

  <label class="form-label">Nom d'utilisateur</label>
  <input type="text" class="form-control" name="username" aria-describedby="emailHelp">
  <label class="form-label">Mot de passe</label>
  <input type="password" class="form-control" name="password">
  <input type="submit" value="Connexion" class="bouton">

</form>
<a href="{% url 'password-reset' %}"><p>Mot de passe oublié ?</p></a>

<p>Pas de compte ? <a href="{% url 'register_user' %}">Inscrivez-vous !!</a></p>
{% endblock %}