{% extends 'jdm/base.html' %}

{% block content %}

{% if forms.errors %}

<div class="alert alert-warning alert-dismissible fade show" role="alert">
  Il semblerait que vous n'ayez pas correctement rempli le formulaire A38...
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endif %}

<form action="{% url 'register_user' %}" method="post" class="connexion">

    {% csrf_token %}

    <label class="form-label">Nom d'utilisateur</label>
    <input type="text" class="form-control" name="username">

    <label class="form-label">Adresse e-mail</label>
    <input type="text" class="form-control" name="email" aria-describedby="emailHelp">

    <label class="form-label">Mot de passe</label>
    <div style="font-size: 0.7rem">
    <p>Votre mot de passe ne peut pas trop ressembler à vos autres informations personnelles.</p>
    <p>Votre mot de passe doit contenir au minimum 8 caractères.</p>
    <p>Votre mot de passe ne peut pas être un mot de passe couramment utilisé.</p>
    <p>Votre mot de passe ne peut pas être entièrement numérique.</p></div>
    <input type="password" class="form-control" name="password1">

    <label class="form-label">Confirmation du mot de passe</label>
    <input type="password" class="form-control" name="password2">

    <input type="submit" value="Inscription" class="bouton">

</form>


{% endblock %}